@model SongModel

@if (Model.Image != null)
{
    <div>
        <img src="@Model.Image" alt="" width="225" height="225" />
    </div>
}

<div style="font-size: 125%; margin: 0.5em 0">
    @Model.Title
</div>

<div>
    @Model.Artist
</div>

<div style="font-size: 75%">
    @Model.Album
</div>
