@model NowPlayingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>SatRadioProxy</title>
    <style type="text/css">
        body {
            background-color: black;
            color: white;
            font-family: sans-serif;
            font-size: 16pt;
            margin: 0;
            text-align: center;
        }

        main {
            display: block;
            margin: auto;
            max-width: 320px;
        }

        #currentNumber {
            font-size: 32pt;
            min-height: 60px;
        }

        #currentDescription {
            font-size: 12pt;
            min-height: 64px;
        }

        section {
            padding: 1em 0;
        }

        .title {
            font-size: 20pt;
            margin: 0.5em 0;
        }

        .album {
            font-size: 12pt;
        }
    </style>
</head>
<body>
    <main>
        @foreach (var item in Model.Songs.Take(1))
        {
            @if (item.Image != null)
            {
                <div>
                    <img src="@item.Image" alt="" width="225" height="225" />
                </div>
            }
            <div class="title">@item.Title</div>
            <div class="artist">@item.Artist</div>
            <div class="album">@item.Album</div>
        }
    </main>
</body>
</html>
