@model NowPlayingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>@Model.Channel.Name - Now Playing</title>
    <style type="text/css">
        body {
            background-color: black;
            color: white;
            font-family: sans-serif;
            font-size: 16pt;
            margin: 0;
            text-align: center;
        }

        main {
            display: block;
            margin: auto;
            max-width: 320px;
        }
    </style>
</head>
<body>
    <main>
        <div id="channel">
            @await Html.PartialAsync("_Channel", Model.Channel)
        </div>
        @if (Model.Song != null)
        {
            <div id="song" style="transition: opacity 0.5s linear">
                <hr />
                @await Html.PartialAsync("_Song", Model.Song)
            </div>

            <script type="text/javascript">
                setTimeout(function () {
                    document.getElementById("song").style.opacity = 0;
                }, 5000);
            </script>
        }
    </main>
</body>
</html>
