@model Tuple<string, string>
<html>
    <head>
        @await Html.PartialAsync("_Styles")

        <style type="text/css">
            body {
                margin: 8px;
                font-size: 12pt;
                text-align: left;
                white-space: nowrap;
            }    
        </style>
    </head>
    <body style="opacity: 1">
        <small>@Model.Item1</small>
        <br />
        @Model.Item2

        <script type="text/javascript">
            setTimeout(function () {
                document.body.className += " fadeout";
            }, 2000);
        </script>

        <style type="text/css">
            .fadeout {
                animation: fadeout 0.5s linear forwards;
                user-select: none;
            }

            @@keyframes fadeout {
                100% {
                    opacity: 0;
                }
            }
        </style>
    </body>
</html>
