@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>Radio Home Engine - SiriusXM</title>
    @await Html.PartialAsync("_Styles")
    <style type="text/css">
        button {
            font-size: 24pt;
            height: 56px;
            max-width: 280px;
            width: 100%;
        }</style>
</head>
<body>
    <section id="entryStage">
        <table id="numpad">
            <tr>
                <td><button id="button1">1</button></td>
                <td><button id="button2">2</button></td>
                <td><button id="button3">3</button></td>
            </tr>
            <tr>
                <td><button id="button4">4</button></td>
                <td><button id="button5">5</button></td>
                <td><button id="button6">6</button></td>
            </tr>
            <tr>
                <td><button id="button7">7</button></td>
                <td><button id="button8">8</button></td>
                <td><button id="button9">9</button></td>
            </tr>
            <tr>
                <td><button id="clear">⌫</button></td>
                <td><button id="button0">0</button></td>
                <td><button id="play">&#9654;</button></td>
            </tr>
        </table>

        <form>
            <input id="numEntry" type="text" />
        </form>
    </section>

    <section id="playbackStage">
        <table id="playbackControls">
            <tr>
                <td width="0">
                    <iframe id="nowPlaying"></iframe>
                </td>
                <td width="0" valign="top">
                    <button id="next">&uarr;</button>
                    <button id="prev">&darr;</button>
                    <br />
                    <button id="info">&#8505;</button>
                    <br />
                    <button id="stop">&#9724;</button>
                </td>
            </tr>
        </table>
    </section>

    <audio style="visibility: hidden">
        HTML5 audio is not supported in this browser.
    </audio>

    <script type="text/javascript">
        var current = 0;

        if ("wiiu" in window) {
            document.getElementById("clear").innerHTML = [@Html.Raw(Json.Serialize((char)0xE072))][0];
            document.getElementById("stop").innerHTML = [@Html.Raw(Json.Serialize((char)0xE098))][0];
            document.getElementById("info").innerHTML = [@Html.Raw(Json.Serialize((char)0xE06B))][0];
        }

        document.getElementById("numEntry").form.addEventListener("submit", function (e) {
            e.preventDefault();
            enter();
        });

        function backspace() {
            const str = document.getElementById("numEntry").value || null;
            if (str) {
                document.getElementById("numEntry").value = str.substring(0, str.length - 1);
            }
        }

        function enter() {
            var num = +document.getElementById("numEntry").value || null;

            if (num)
                playNumber(num);
            else
                stop();

            document.getElementById("numEntry").value = "";
        }

        for (var i = 0; i <= 9; i++) {
            const button = document.getElementById("button" + i);
            var handler = function (e) {
                e.preventDefault();
                document.getElementById("numEntry").value += e.target.innerText;
            };
            button.addEventListener("click", handler);
        }

        document.getElementById("clear").addEventListener("click", function (e) {
            e.preventDefault();
            backspace();
        });

        document.getElementById("play").addEventListener("click", function (e) {
            e.preventDefault();
            enter();
        });

        document.getElementById("prev").addEventListener("click", function (e) {
            e.preventDefault();

            for (var i = channelInfo.length - 1; i >= 0; i--) {
                var num = +channelInfo[i].channelNumber;
                if (num < current) {
                    playNumber(num);
                    return;
                }
            }

            playNumber(+channelInfo[channelInfo.length - 1].channelNumber);
        });

        document.getElementById("next").addEventListener("click", function (e) {
            e.preventDefault();

            for (var i = 0; i < channelInfo.length; i++) {
                var num = +channelInfo[i].channelNumber;
                if (num > current) {
                    playNumber(num);
                    return;
                }
            }

            playNumber(+channelInfo[0].channelNumber);
        });

        document.getElementById("info").addEventListener("click", function (e) {
            e.preventDefault();

            if (current) {
                window.open("/Radio/RecentlyPlaying?num=" + current);
            }
        });

        document.getElementById("stop").addEventListener("click", function (e) {
            e.preventDefault();
            stop();
        });

        function playNumber(num) {
            current = +num;
            document.getElementById("nowPlaying").src = "/Radio/NowPlaying?num=" + encodeURIComponent(num);
            document.body.classList.add("active");
            play("/Radio/PlayChannel?num=" + encodeURIComponent(num));
        };

        function stop() {
            current = null;
            document.getElementById("nowPlaying").src = "about:blank";
            document.body.classList.remove("active");
            play(null);
        }

        function play(url) {
            if ("wiiu" in window) {
                if (url)
                    window.open(url);
                else
                    wiiu.videoplayer.end();

                return;
            }

            var audio = document.getElementsByTagName("audio")[0];
            audio.style.visibility = "hidden";
            audio.pause();

            if (!url)
                return;

            audio.src = url;
            audio.style.visibility = "visible";
            audio.play();
        };
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/hls.js/1.5.18/hls.min.js"
            integrity="sha512-hARxLWym80kd0Bzl5/93OuW1ujaKfvmJ90yTKak/RB67JuNIjtErU2H7H3bteyfzMuqiSK0tXarT7eK6lEWBBA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        var hls = null;

        if ("Hls" in window && Hls.isSupported()) {
            play = (url) => {
                const audio = document.getElementsByTagName("audio")[0];
                audio.pause();

                audio.style.visibility = "hidden";

                if (hls)
                    hls.destroy();

                if (!url)
                    return;

                audio.pause();

                hls = new Hls({ startPosition: 0 });

                hls.on(Hls.Events.ERROR, function (event, data) {
                    console.warn({ event, data });
                });

                hls.on(Hls.Events.MEDIA_ATTACHED, () => {
                    hls.on(Hls.Events.MANIFEST_PARSED, () => {
                        audio.style.visibility = "visible";
                        audio.play();
                    });

                    hls.loadSource(url);
                });

                hls.attachMedia(audio);
            };
        }
    </script>

    <script type="text/javascript" src="/Radio/ChannelInfo"></script>
</body>
</html>
