@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>Brown Noise</title>
    @await Html.PartialAsync("_Styles")
</head>
<body>
    <video controls src="/Noise/playlist.m3u8"></video>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/hls.js/1.5.18/hls.min.js"
            integrity="sha512-hARxLWym80kd0Bzl5/93OuW1ujaKfvmJ90yTKak/RB67JuNIjtErU2H7H3bteyfzMuqiSK0tXarT7eK6lEWBBA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        (async () => {
            if ("Hls" in window && Hls.isSupported()) {
                try {
                    const hls = new Hls({ startPosition: 0 });

                    hls.on(Hls.Events.ERROR, function (event, data) {
                        console.warn({ event, data });
                    });

                    const pr = new Promise(r => hls.on(Hls.Events.MEDIA_ATTACHED, r));
                    hls.attachMedia(document.getElementsByTagName("video")[0]);
                    await pr;

                    hls.loadSource("/Noise/playlist.m3u8");
                } catch (e) {
                    console.error(e);
                }
            }
        })();
    </script>
</body>
</html>
