@model PlayingChannelModel

<div>
    <img id="currentImage"
         width="180"
         height="144"
         src="/SXM/ChannelImage?num=@Model.Number"
         alt="@Model.Name" />
</div>

<div id="currentNumber" style="font-size: 200%">
    @Model.Number
</div>

<div id="currentDescription" style="font-size: 75%">
    @Model.Description
</div>
