@model RecentlyPlayingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>@Model.Channel.Name - Recently Playing</title>
    @await Html.PartialAsync("_Styles")
</head>
<body>
    <main>
        <div id="channel">
            @await Html.PartialAsync("_Channel", Model.Channel)
        </div>
        @foreach (var item in Model.Songs)
        {
            <hr />
            <section aria-label="@item.Title">
                @await Html.PartialAsync("_Song", item)
            </section>
        }
    </main>
</body>
</html>
